<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.polarsys.capella.core.validation.ui.ide.capellaQuickFix">
      <resolver
            class="org.polarsys.capella.core.data.common.ui.quickfix.resolver.DWF_SM_03Resolver"
            desc="%resolver.desc"
            icon="icons/search16.gif"
            label="%resolver.label">
         <rules
               ruleId="DWF_SM_03">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.common.ui.quickfix.resolver.DWF_SM_06SiblingResolver"
            desc="%resolver.desc.0"
            icon="icons/delete_element.gif"
            label="%resolver.label.0">
         <rules
               ruleId="DWF_SM_06">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.common.ui.quickfix.resolver.DWF_SM_06ChildrenResolver"
            desc="%resolver.desc.1"
            icon="icons/delete_element.gif"
            label="%resolver.label.1">
         <rules
               ruleId="DWF_SM_06">
         </rules>
      </resolver>
      <resolver
            class="org.polarsys.capella.core.data.common.ui.quickfix.resolver.DWF_SM_15Resolver"
            desc="%resolver.desc.2"
            icon="icons/delete_element.gif"
            label="%resolver.label.2">
         <rules
               ruleId="DWF_SM_15">
         </rules>
      </resolver>
   </extension>

</plugin>
