<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
  Copyright (c) 2006, 2020 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="capella.category"
            name="%category.name">
         <category
               id="quality"
               name="%category.name.0">
                   <![CDATA[Quality-related rules check for example that most important elements have descriptions.]]>
         </category>
         <category
               id="integrity"
               name="%category.name.1">
                   <![CDATA[This category contains Capella additional rules about the model integrity. For example,
• Verification that two distinct elements have distinct IDs
• Verification of naming conflicts]]>
         </category>
         <category
               id="design"
               name="%category.name.2">
                   <![CDATA[Design-related rules gather all business rules within an engineering phase (System Analysis, Logical Architecture, etc.). This set of rules does take into account what is modeled in the previous or following engineering phase.

This category is divided in four sub categories:
• Well-formedness. For example, a Join Function has only one outgoing Functional Exchange, a Class Property is typed, etc.
• Consistency. For example, the Interface usage/implementation by a sub component requires the same Interface usage/implementation by/from the parent component
• Completeness. For example, a leaf Function has to be allocated to one Component, an Interface references at least one Exchange Item, etc.
• Coverage. For example, an Actor is involved in at least one Capability, a Component appears on at least one Scenario, etc.

The difference between Completeness and Coverage can appear subtle. Completeness is close to being inconsistent (a leaf Function really HAS to be allocated to a Component). But according to the current objectives of the system engineer, this “almost inconsistence” might not be important for the moment. Coverage is more about the risk of forgetting things is the system design, or not to be precise enough.]]>
            <category
                  id="coverage"
                  name="%category.name.3">
            </category>
            <category
                  id="well-formedness"
                  name="%category.name.4">
               <category
                     id="state_machines"
                     name="%category.name.5">
               </category>
               <category
                     id="dataflows"
                     name="%category.name.6">
               </category>
               <category
                     id="components"
                     name="%category.name.7">
               </category>
               <category
                     id="data"
                     name="%category.name.8">
               </category>
               <category
                     id="interfaces"
                     name="%category.name.9">
               </category>
               <category
                     id="scenarios"
                     name="%category.name.10">
               </category>
               <category
                     id="capabilities"
                     name="%category.name.11">
               </category>
               <category
                     id="use_cases"
                     name="%category.name.12">
               </category>
            </category>
            <category
                  id="consistency"
                  name="%category.name.13">
            </category>
            <category
                  id="completeness"
                  name="%category.name.14">
            </category>
         </category>
         <category
               id="structural_conformance_to_m2"
               name="%category.name.15">
         </category>
         <category
               id="transition"
               name="%category.name.16">
            <category
                  id="consistency"
                  name="%category.name.17">
               <category
                     id="data"
                     name="%category.name.18">
               </category>
               <category
                     id="state_machines"
                     name="%category.name.19">
               </category>
               <category
                     id="interfaces"
                     name="%category.name.20">
               </category>
               <category
                     id="dataflows"
                     name="%category.name.21">
               </category>
               <category
                     id="components"
                     name="%category.name.22">
               </category>
               <category
                     id="scenarios"
                     name="%category.name.23">
               </category>
               <category
                     id="capabilities"
                     name="%category.name.24">
               </category>
            </category>
            <category
                  id="justification"
                  name="%category.name.25">
               <category
                     id="physical_architecture"
                     name="%category.name.26">
               </category>
               <category
                     id="logical_architecture"
                     name="%category.name.27">
               </category>
               <category
                     id="epbs"
                     name="%category.name.28">
               </category>
               <category
                     id="generic"
                     name="%category.name.29">
               </category>
               <category
                     id="system_analysis"
                     name="%category.name.30">
               </category>
            </category>
         </category>
      </category>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            id="CapellaValidationRulesContext">
         <selector
               class="org.polarsys.capella.core.validation.ValidationDelegateClientSelector">
         </selector>
      </clientContext>
      <binding
            category="capella.category"
            context="CapellaValidationRulesContext">
      </binding>
   </extension>
   
  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.polarsys.capella.core.validation.prefs.ExportValidationPreferenceInitializer">
      </initializer>
   </extension>
  <extension
        id="markers"
        name="%capella.maker.name"
        point="org.eclipse.core.resources.markers">
     <super
           type="org.eclipse.emf.ecore.diagnostic">
     </super>
     <persistent
           value="false">
     </persistent>
  </extension>
  <extension
        point="org.polarsys.capella.core.model.handler.diagnosticianProviders">
     <provider
           class="org.polarsys.capella.core.validation.DiagnosticianProvider">
     </provider>
  </extension>
  <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.polarsys.capella.core.validation.expressions.EObjectPropertyTester"
         type="org.eclipse.emf.ecore.EObject"
         namespace="org.polarsys.capella.core.validation.expressions"
         properties="ePackage"
         class="org.polarsys.capella.core.validation.expressions.EObjectPropertyTester">
      </propertyTester>
  </extension>
</plugin>
